.billboard
{
    height: 500px;

    .product-image
    {
        max-width: 100%;
        min-width: 1280px;
        max-height: 500px;
        display: block;
        clear: both;
    }

    // Container for product info div that sits on top of billboard
    .product-info-container
    {
        width: 300px;
        background: blue;
        z-index: 1000;
        height: 300px;
        position: absolute;
        left: 75%;
        z-index: 1000000000000;

        // Name of product
        .product.title
        {
        }

        // Horizontal line seperating title from description
        .line
        {
        }

        // Description of product, under title
        .product-description
        {
        }
    }

    // Price, quantity, and Add To Cart
    .product-commerce
    {
        .product-price
        {

        }

        .product-quantity
        {

        }

        // Add to Cart button
        .add-to-cart
        {

        }
    }
}
