html
{
    font-size: 62.5%;
}

body
{
    // 190 is the approximate height of the navigation bar
    // we'll need to adjust this or set it to a fixed height
    // later once it's completely corrected
}

.header
{
    top: 0;
    left: 0;
    right: 0;
    /*TODO - add drop shadow to header*/

    .commerce
    {
        background-color: #1c1c1c;
        width: 100%;
        .box-shadow(0px 1px 4px rgba(0, 0, 0, .2));

        .inner
        {
            .clearfix;
            margin: 0 auto;
            max-width: @siteWidth;

            // the quantity number and cart icon will get floated left within
            // this container, which itself is floated right... this way we
            // can order the divs in the HTML the same order as they will
            // appear, instead of having to reverse them to use float:right directly
            .inner-items
            {
                float: right;
            }

            // quantity number and cart icon
            .cart-items, .cart
            {
                border-left: 1px solid gray;
                display: block;
                float: left;
                font-family: 'Kenyan Coffee';
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 75px;
            }

            // whichever is last (cart icon or cart quantity) needs a right border
            &:last-child
            {
                border-right: 1px solid gray;
            }

            .cart-items
            {
                color: #e0e0e0;
                font-size: 18px;
            }

            .cart
            {
                color: #f1e0cc;

                img
                {
	                width: 21px;
	                height: 18px;
                }
            }
        }
    }

    //main navigation area below commerce
    .navigation
    {
        .clearfix;
        background-color: #441010;
        font-family: 'Kenyan Coffee';
        font-size: 2.5rem;
        letter-spacing: 0.7rem;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
        width: 100%;

        .inner
        {
            margin: 0 auto;
            width: 940px;

            ul
            {
                list-style: none;
                margin: 0;

                // Dimensions of the "DLish Organics" logo in the navbar center
                @logoWidth: 150px;
                @logoHeight: 150px;

                li
                {
                    float: left;
                    list-style: none;
                    width: 20%;
                    text-align: center;
                    height: @logoHeight;
                    a:hover {color: #fff5ea;}
                    a:active {color: #f1e0cc;}

                    a
                    {
                        color: #f1e0cc;
                        text-decoration: none;
                        line-height: @logoHeight;
                    }
                }

                li.logo img
                {
                    width: @logoWidth;
                    height: @logoHeight;
                }

                // Align first link on navigation bar to left edge
                li:first-child
                {
                    text-align: left;
                }

                // Align last link on navigation bar to right edge
                li:last-child
                {
                    text-align: right;
                }
            }
        }
    }
}
