// social networking links are outside why-organic-container
.social
{
    max-width: 25%;
    height: 50px;
    background: orange;
    margin-right: 0;
    margin-left: auto;

    // div container for each social networking link; Facebook, G+, and Twitter
    .link
    {

    }
}


//all content below billboard or nav
.main-content
{
    z-index: 99999999;
    display: block;
    width:100%;
    text-align: justify;
    padding-bottom: 150px;
    background: #f9f9f9;
    margin:0 auto;
}

//generic class to be used as an extension for adding extra buffer space
.seperator
{
margin-top:120px;
}

//container for content below billboard or nav
.main-content-container
{
    width:940px;
    padding-top:15px;
    margin:0 auto;
}

//header across all pages; "Articles", "Why Organic", "Payment", etc.
.title-head
{
    font-family: 'Kenyan Coffee';
    font-size: 3.0em;
    color: #333333;
    display: block;
    letter-spacing: 5px;
    padding-bottom: 50px;
    position:static;

    .line
    {
        display: block;
    }

    .header-copy
    {
        color: #686868;
        font-family: 'Lucida Grande';
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 30px;
        padding-top: 25px;
    }
}

// container for content blocks; sub-heads, and body copy
.list-container
{
    line-height: 30px;

    // base content div to be used across all pages for sub-heads + body
    .content-block
    {
        padding-top: 40px;
        padding-bottom: 40px;

        // name of the reason, article name, dates, and form titles
        .sub-head
        {
            font-family: 'Bebas Neue';
            letter-spacing: 1px;
            color: #697e2c;
            font-size: 25px;
            padding-top: 25px;
            padding-bottom: 15px;
        }

        // general body copy, "paragraph" text
        .body-copy
        {
            font-family: Maven Pro;
            padding-left: 20px;
            font-size: 1.2em;
            color: #9f9f9f;
        }
    }
}
