.why-organic
{
z-index:5000;
	/*social networking links*/
	.social
	{
	min-width:20%;
	height:50px;
	background:blue;
	left:75%;
		/*div container for each social networking link; Facebook, G+, and Twitter*/
		.link
		{
			
		}
		
	}
	
	
	.header-title
	{
	font-family: 'Bebas Neue';
	color:#4f5c28;
	
		.line
		{
			
		}
		
		.header-description
		{
		color:#4b4541;	
		}
	}
	
	/*container for the 5 reasons for buying organic*/
	.reasons-list
	{
		
		/*class for each of the 5 reasons*/
		.reason-container
		{
			/*name of the reason*/
			.reason-title
			{
				
			}
			
			/*description of the reason*/
			.reason-description
			{
				
			}
			
		}
	}
	
	
}