.why-organic
{
background:red;
	/*social networking links*/
	.social
	{
	min-width:20%;
	height:50px;
	background:blue;
	left:75%;
		/*div container for each social networking link; Facebook, G+, and Twitter*/
		.link
		{
			
		}
		
	}
	
	
	.header
	{
		.line
		{
			
		}
	}
	
	/*container for the 5 reasons for buying organic*/
	.reasons-container
	{
		
		/*class for each of the 5 reasons*/
		.reason
		{
			/*name of the reason*/
			.reason-title
			{
				
			}
			
			/*description of the reason*/
			.reason-description
			{
				
			}
			
		}
	}
	
	
}