.section-title {
  color: #4f5c28;
  font-family: 'Bebas Neue';
}
.form-container {
  display: inline-block;
}
.form-container .form-title {
  color: #838872;
  font-family: 'Bebas Neue';
}
.cart.box {
  background: white;
}
.button {
  background: #b5b5b6;
}
.button.biggie {
  width: 80%;
}
.button.smalls {
  width: 20%;
}
.button .button-title {
  font-family: 'Bebas Neue';
}
