<!DOCTYPE html>
<html>
<head>
<title>{{page.title}} - DLish</title>
<link type="text/css" rel="stylesheet" href="style/application.css" />
</head>
<body>

    <div class="header">
        <div class="commerce">
            <div class="inner">
                <div class="inner-items">
                    <div class="cart-items">1</div>
                        <div class="cart"> 
                            <a href="shipping-info.html">
                                <img src="../images/cart.png" alt="cart"/> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="navigation">
            <div class="inner">
                <ul class="clearfix">
                    <li class="toffe"><a href="">TOFFEE</a></li>
                    <li><a href="stores.html">STORES</a></li>

                    <li class="logo"><a href="index.html"><img src='images/logo.png' /></a></li>

                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    {{content}}
    <div class="footer">
        <div class="inner">
            <div class="column">
                <ul>
                    <li class="title">Products</li>
                    <li><a href="product.html">Bare Naked</a></li>
                    <li><a href="product.html">Chocolate-Dipped</a></li>
                    <li><a href="product.html">Totally Nuts</a></li>
                    <li><a href="product.html">The Works</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Retailers</li>
                    <li><a href="become-a-retailer">Become a Retailer</a></li>
                    <li><a href="shipping-policy.html">Shipping Policy</a></li>
                    <li><a href="stores.html">Stores</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Company</li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="articles.html">Articles</a></li>
                    <li><a href="guarantee.html">Guarantee</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Connect</li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap-affix.js"></script>
    <script type="text/javascript" src="scripts/application.js"></script>
    <script type="text/javascript">
    //<![CDATA[
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
    //]]>
    </script>
</body>
</html>
